<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/MyWebsite.styles.css" asp-append-version="true" />
</head>
<body>
	<header class="bg-light border-bottom mb-3">
		<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
			<div class="container">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MyWebsite</a>
				<div class="collapse navbar-collapse">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link @(ViewData["Active"] as string == "Home" ? "active" : "")"
							   asp-area="" asp-controller="Home" asp-action="Index">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link @(ViewData["Active"] as string == "About" ? "active" : "")"
							   asp-area="" asp-controller="Home" asp-action="About">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link @(ViewData["Active"] as string == "Contact" ? "active" : "")"
							   asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
						</li>
					</ul>
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link @(ViewData["Active"] as string == "Help" ? "active" : "")"
								asp-area="Help" asp-controller="Home" asp-action="Index">Help</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container">
            @RenderSection("PageHeader", required: true)
        </div>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2025 - MyWebsite - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
